/* General */

body {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: "figtree", 'Courier New', Courier, monospace;
}

main{
    flex: 1;
    background-color: #FAFAF7;
}

h1, h2, h3, h4, h5, h6{
    line-height: 2rem;
}

/* Header */

.logo-container-home{
    background-color: rgb(0 0 0 / 60%);
    position: relative;
    z-index: 9999;
}

.logo-container-general{
    background-color: #1f2636;
    position: relative;
    z-index: 9999;
}

#site-logo{
    padding: 1rem;
}

/* Navigation */

#menu-btn{
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(-0%, -50%);
}

#menu-btn svg path{
    fill: #FAFAF7;
}

.main-navigation ul{
    display: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 5rem;
    z-index: 100;
}

.main-navigation.toggled ul{
    display: block;
}

/* Navigation Psuedo States */

.main-navigation a, .main-navigation a:visited{
    display: block;
    text-decoration: none;
    color: #FAFAF7;
    background-color: rgb(0 0 0 / 60%);
    padding: 0.3rem 0.6rem;
    border: 1px solid #827E7B;
    border-left: none;
    border-right: none;
    border: 1px solid rgb(0 0 0 / 0%);
    padding: 0.6rem 2rem;
}

.others-navigation a, .others-navigation a:visited{
    background-color: #1f2636;
}

.main-navigation a:hover, .main-navigation a:focus{
    border: 1px solid rgba(255, 255, 255, 50%);
}

.main-navigation a:active{
    background-color: rgba(31, 38, 54, 100%);
}

@media(min-width: 50rem){
    #menu-btn{
        display: none;
    }

    .main-navigation ul, .main-navigation.toggled ul{
        display: flex;
        margin: 0;
        width: fit-content;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
    }
}

/* Links Pseudo Classes */

a, a:visited{
    text-decoration: none;
    color: black;
}

a:hover, a:focus{
    text-decoration: underline;
    text-decoration-color: #827E7B;
}

a:active{
    color:#827E7B;
}

/* Home Page */

/* Hero Section */

.hero-section{
    height: 20rem;
}

.hero-section video{
    object-fit: cover;
    height: 26rem;
    min-width: 100%;
    position: absolute;
    top: 0;
    filter: drop-shadow(0.2rem 0.2rem 1.5rem black);
}

.hero-section h1{
    margin: 0;
    position: absolute;
    top: 17.4rem;
    line-height: 3rem;
    font-size: 4rem;
    padding: 0.9rem;
    color: #FAFAF7;
    text-shadow: 0.4rem 0.4rem 0.4rem black;
}

/* Main body */
.main-content-article{
    margin: 2rem 1rem;
}

.main-content-text{
    padding: 2rem 1rem;
}

.main-content-article img{
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    transition: transform .2s;
}

.main-content-article img:hover{
    transform: scale(1.1);
}

@media(min-width: 40rem){
    .main-content-article{
        display: flex;
        flex-wrap: wrap;
    }

    .main-content-article:nth-child(2){
        flex-direction: row-reverse;
    }

    .main-content-article:nth-child(2) .main-content-text{
        text-align: right;
    }
    
    .main-content-article > *{
        width: 50%;
    }

    .main-content-text{
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-content-article img{
        object-fit: contain;
    }
}

@media(min-width: 75rem){
    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-content article:last-child{
        grid-area: 2 / 1 / auto / span 2;
    }

}

/* Attractions */

.attractions-heading{
    font-size: 2rem;
    background-color: #394664;
    color: white;
    padding: 2rem 0.5rem;
    margin: 0;
}

.interactive-map{
    height: 25rem;
    position: relative;
}

.interactive-map h2{
    padding: 0rem 1rem;
    text-decoration: underline;
}

.interactive-map article img{
    padding: 1rem;
    border-bottom: 2px dashed #1f2636;
}

.interactive-map p{
    padding: 1rem;
}

.interactive-map-img{
    object-fit: cover;
    height: 100%;
}

.pin-one, .pin-two, .pin-three, .pin-four{
    position: absolute;
    z-index: 2;
    background: transparent;
    border: none;
    padding: 0;
    transform: scale(1.2);
}

.pin-one svg path, .pin-two svg path, .pin-three svg path, .pin-four svg path{
    fill: rgb(88, 0, 0);
}

.pin-one svg:hover, .pin-one svg:focus, .pin-two svg:hover, .pin-two svg:focus, .pin-three svg:hover, .pin-three svg:focus, .pin-four svg:hover, .pin-four svg:focus{
    transform: scale(1.5);
}

.pin-one{
    bottom: 8rem;
    right: 4rem;
    left: 13.3rem;
}

.pin-two{
    bottom: 10.2rem;
    right: 11rem;
    left: 8.3rem;
}

.pin-three{
    bottom: 18rem;
    right: 4rem;
    left: 9rem;
}

.pin-four{
    bottom: 5.8rem;
    right: 10rem;
    left: 2rem;
}

/* Attraction Popup */

.monster-tower-article, .avenue-of-stars-article, .temple-article, .prison-article{
    display: none;
    background-color: #798ab2;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
}

.show-popup{
    display: block;
}

.close-button{
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    background: transparent;
    border: none;
}

@media(min-width:46.87rem){
    .interactive-map{
        height: 50rem;
    }

    .pin-one{
        bottom: 16.5rem;
        right: 4rem;
        left: 24rem;
    }

    .pin-two{
        bottom: 19rem;
        right: 13rem;
        left: 8rem;
    }

    .pin-three{
        bottom: 36.5rem;
        right: 4rem;
        left: 13rem;
    }

    .pin-four{
        bottom: 14.5rem;
        right: 18rem;
        left: 1rem;
    }
}

@media(min-width: 96.87rem){
    .interactive-map{
        height: 65rem;
    }

    .pin-one{
        bottom: 22rem;
        right: 4rem;
        left: 31rem;
    }

    .pin-two{
        bottom: 27rem;
        right: 13rem;
        left: 7rem;
    }

    .pin-three{
        bottom: 47.5rem;
        right: 4rem;
        left: 17rem;
    }

    .pin-four{
        bottom: 19rem;
        right: 24rem;
        left: 1rem;
    }
}

/* Food Page */

.food-heading{
    font-size: 2rem;
    background-color: #394664;
    color: white;
    padding: 2rem 0.5rem;
    margin: 0;
    grid-area: 1 / 1 / span 1 / span 4;
}

.food-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.street-food, .dimsum, .hk-cafe, .snacks{
    margin: 0;
    background-color: #5c71a0;
    text-align: center;
    font-size: 1.8rem;
    padding: 0 1rem;
}

.street-food{
    grid-area: 2 / 1 / span 2 / span 1;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
}

.dimsum{
    grid-area: 4 / 4 / span 2 / span 1;
    writing-mode: vertical-lr;
}

.hk-cafe{
    grid-area: 6 / 1 / span 2 / span 1;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
}

.snacks{
    grid-area: 8 / 4 / span 2 / span 1;
    writing-mode: vertical-lr;
}

.food-grouping{
    grid-column: span 3;
}

@media(min-width: 53rem){
    .food-heading{
        grid-area: 1 / 1 / span 1 / span 7;
    }

    .food-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .street-food{
        grid-area: 2 / 1 / span 1 / span 1;
        writing-mode: initial;
        transform: none;
    }
    
    .dimsum{
        grid-area: 3 / 7 / span 1 / span 1;
        writing-mode: initial;
    }
    
    .hk-cafe{
        grid-area: 4 / 1 / span 1 / span 1;
        writing-mode: initial;
        transform: none;
    }
    
    .snacks{
        grid-area: 5 / 7 / span 1 / span 1;
        writing-mode: initial;
    }
}

@media(min-width: 75rem){
    .food-heading{
        grid-area: 1 / 1 / span 1 / span 12;
    }

    .food-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .street-food{
        grid-area: 2 / 1 / span 2 / span 1;
    }
    
    .dimsum{
        grid-area: 2 / 4 / span 2 / span 1;
    }
    
    .hk-cafe{
        grid-area: 2 / 7 / span 2 / span 1;
    }
    
    .snacks{
        grid-area: 2 / 10 / span 2 / span 1;
    }

    .food-grouping{
        grid-column: span 2;
    }
}

/* Footer */

footer{
    background-color: #1f2636;
    padding: 3rem;
    border-top: 2px solid black;
    text-align: center;
    color: #FAFAF7;
}

footer nav{
    display: none;
}

footer a, footer a:visited{
    text-decoration: underline;
    color: #FAFAF7;
}

footer a:hover, footer a:focus{
    color: #c3c0bc;
}

footer a:active{
    color: #6c7f9d;
}

.copyright{
    font-size: 1rem;
}

@media(min-width: 50rem){
    footer{
        display: flex;
        justify-content: space-around;
        text-align: left;
    }

    footer nav{
        display: block;
    }

    footer nav ul{
        padding: 0;
    }
    
    footer nav li{
        list-style-type: none;
        padding: 0.3rem 0;
    }
}

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 120rem;
    margin: auto;
}