/* General */

body {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: "figtree", 'Courier New', Courier, monospace;
}

header{
    background-color: #827E7B;
    padding: 2rem 0;
    position: relative;
}

main{
    flex: 1;
    background-color: #FAFAF7;
}

/* Navigation */

#menu-btn{
    width: 3rem;
    height: 2rem;
    background-color: #827E7B;
    border: none;
    position: absolute;
    right: 0;
    top: 1.5rem;
}

.main-navigation ul{
    display: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 4rem;
    z-index: 100;
}

.main-navigation.toggled ul{
    display: block;
}

/* Navigation Psuedo States */

.main-navigation ul li a, .main-navigation ul li a:visited{
    display: block;
    text-decoration: none;
    color: black;
    background-color: #827E7B;
    padding: 0.3rem 0.6rem;
    border: 1px solid #827E7B;
}

.main-navigation ul li a:hover, .main-navigation ul li a:focus{
    border: 1px solid #FAFAF7;
}

.main-navigation ul li a:active{
    color: white;
    background-color: #9597A7;
}

/* Links Pseudo Classes */

a, a:visited{
    text-decoration: none;
    color: black;
}

a:hover, a:focus{
    text-decoration: underline;
    text-decoration-color: #827E7B;
}

a:active{
    color:#827E7B;
}

/* Header */

.favicon-placeholder{
    font-size: 3rem;
    display: inline;
}

/* Hero Section */

.hero-section{
    height: 25rem;
    position: relative;
    background-image: linear-gradient(to bottom, #827E7B 50%, #FAFAF7 50%);
}

.hero-section video{
    object-fit: cover;
    height: 25rem;
    min-width: 100%;
    clip-path: polygon(0 7%, 100% 15%, 100% 85%, 0 93%);
}

.hero-section h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 3rem;
    font-size: 4rem;
    text-align: center;
    backdrop-filter: blur(7px) saturate(70%);
    padding: 0.9rem;
}

/* Main body */
.main-content-article{
    border: 2px solid black;
    margin: 1rem;
}

.main-content-text{
    padding: 2rem;
}

@media(min-width: 40rem){
    .main-content-article{
        display: flex;
        flex-wrap: wrap;
    }

    .main-content-article:nth-child(2){
        flex-direction: row-reverse;
    }
    
    .main-content-article > *{
        width: 50%;
    }

    .main-content-text{
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-content-article img{
        object-fit: contain;
    }
}

@media(min-width: 75rem){
    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-content article:last-child{
        grid-area: 2 / 1 / auto / span 2;
    }

}

/* Footer */

footer{
    background-color: #827E7B;
    padding: 3rem;
    border-top: 2px solid black;
}

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 120rem;
    margin: auto;
}