/* General */

body {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: "figtree", 'Courier New', Courier, monospace;
}

header{
    background-color: aquamarine;
    padding: 2rem 0rem;
    display: flex;
    justify-content: flex-end;
}

/* Navigation */

#menu-btn{
    width: 3rem;
    height: 3rem;
}


/* Header */

/* Main body */

main{
    flex: 1;
}

/* Footer */

footer{
    background-color: aquamarine;
    padding: 3rem;
}

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 120rem;
    margin: auto;
}