/* General */

body {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: "figtree", 'Courier New', Courier, monospace;
}

main{
    flex: 1;
    background-color: #FAFAF7;
}

/* Header */

.logo-container-home{
    background-color: rgb(0 0 0 / 60%);
    position: relative;
    z-index: 9999;
}

.logo-container-general{
    background-color: #1f2636;
    position: relative;
    z-index: 9999;
}

#site-logo{
    padding: 1rem;
}

/* Navigation */

#menu-btn{
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(-0%, -50%);
}

#menu-btn svg path{
    fill: #FAFAF7;
}

.main-navigation ul{
    display: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 5rem;
    z-index: 100;
}

.main-navigation.toggled ul{
    display: block;
}

/* Navigation Psuedo States */

.main-navigation a, .main-navigation a:visited{
    display: block;
    text-decoration: none;
    color: #FAFAF7;
    background-color: rgb(0 0 0 / 60%);
    padding: 0.3rem 0.6rem;
    border: 1px solid #827E7B;
    border-left: none;
    border-right: none;
    border: 1px solid rgb(0 0 0 / 0%);
    padding: 0.6rem 2rem;
}

.main-navigation a:hover, .main-navigation a:focus{
    border: 1px solid rgba(255, 255, 255, 50%);
}

.main-navigation a:active{
    background-color: rgba(31, 38, 54, 60%);
}

@media(min-width: 50rem){
    #menu-btn{
        display: none;
    }

    .main-navigation ul, .main-navigation.toggled ul{
        display: flex;
        margin: 0;
        width: fit-content;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
    }
}

/* Links Pseudo Classes */

a, a:visited{
    text-decoration: none;
    color: black;
}

a:hover, a:focus{
    text-decoration: underline;
    text-decoration-color: #827E7B;
}

a:active{
    color:#827E7B;
}

/* Home Page */

/* Hero Section */

.hero-section{
    height: 20rem;
}

.hero-section video{
    object-fit: cover;
    height: 26rem;
    min-width: 100%;
    position: absolute;
    top: 0;
    filter: drop-shadow(0.2rem 0.2rem 1.5rem black);
}

.hero-section h1{
    margin: 0;
    position: absolute;
    top: 17.4rem;
    line-height: 3rem;
    font-size: 4rem;
    padding: 0.9rem;
    color: #FAFAF7;
    text-shadow: 0.4rem 0.4rem 0.4rem black;
}

/* Main body */
.main-content-article{
    margin: 2rem 1rem;
}

.main-content-text{
    padding: 2rem 1rem;
}

.main-content-article img{
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    transition: transform .2s;
}

.main-content-article img:hover{
    transform: scale(1.1);
}

@media(min-width: 40rem){
    .main-content-article{
        display: flex;
        flex-wrap: wrap;
    }

    .main-content-article:nth-child(2){
        flex-direction: row-reverse;
    }

    .main-content-article:nth-child(2) .main-content-text{
        text-align: right;
    }
    
    .main-content-article > *{
        width: 50%;
    }

    .main-content-text{
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-content-article img{
        object-fit: contain;
    }
}

@media(min-width: 75rem){
    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-content article:last-child{
        grid-area: 2 / 1 / auto / span 2;
    }

}

/* Attractions */

.interactive-map{
    background-color: pink;
    height: 25rem;
    position: relative;
}

.interactive-map-img{
    object-fit: cover;
    height: 100%;
}

.pin-one{
    position: absolute;
    z-index: 2;
    bottom: 8rem;
    right: 4rem;
    left: 14rem;
    background: transparent;
    border: none;
}

.pin-one svg path{
    fill: rgb(88, 0, 0);
}

@media(min-width:46.87rem){
    .interactive-map{
        background-color: pink;
        height: 50rem;
    }
}

@media(min-width: 96.87rem){
    .interactive-map{
        height: 65rem;
    }
}

/* Footer */

footer{
    background-color: #1f2636;
    padding: 3rem;
    border-top: 2px solid black;
    text-align: center;
    color: #FAFAF7;
}

footer nav{
    display: none;
}

footer a, footer a:visited{
    text-decoration: underline;
    color: #FAFAF7;
}

footer a:hover, footer a:focus{
    color: #c3c0bc;
}

footer a:active{
    color: #6c7f9d;
}

.copyright{
    font-size: 1rem;
}

@media(min-width: 50rem){
    footer{
        display: flex;
        justify-content: space-around;
        text-align: left;
    }

    footer nav{
        display: block;
    }

    footer nav ul{
        padding: 0;
    }
    
    footer nav li{
        list-style-type: none;
        padding: 0.3rem 0;
    }
}

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 120rem;
    margin: auto;
}